@font-face {
	    font-family: 'Righteous';
		src: url('fonts/Righteous.woff') format('woff');
}

body {
	background-image: url("pictures/whiteDesk.jpg");
	background-size: 50vw;
	background-attachment: fixed;
	background-repeat: repeat;
	margin-bottom: -30vh;
	font-size:3vh;
}
.header{
	position: fixed;
	top:0vh;
	left:0vw;
	right:0vw;
	height: 10vh;
	width: 100vw;
	background-color: rgba(0,0,0,1);
}
.topLogo{
	height:7vh;
	-webkit-filter: invert(1);
	filter: invert(75%);
	margin: 1.5vh 0 0vh 3vh;
}
.wrapper{
	width: 100vw;
	margin-left:-1vw;
	background-image: url("pictures/fieldNotes.jpg");
	background-size: 100vw;
	overflow: hidden;
	background-repeat: no-repeat;
	height:95vh;
	
}
.page1{
	background-color: rgba(255,255,255,0.2);
	height:100vh;
	
}
.page2{
	height:85vh;
	margin-bottom: -60vh;
}

a{
	text-decoration: none;
	color:white;
	
}
a:hover{
	opacity: 0.7;
}
.gitLink{
	position:fixed;
	top:4vh;
	right:10vh;
	padding-bottom:6vh;
	font-family:Righteous;
	font-size:80%;
	
}
.footer{
	background-color:rgba(0,0,0,1);
	height: 4vh;
	width: 100vw;
	position: fixed;
	bottom: 0vh;
	right:0vh;
	left:0vh;
	z-index: 10000;
}
.gitLogo{
	position:fixed;
	-webkit-filter: invert(1);
	height:7vh;
	top:2vh;
	right:2vh;
}
.mainLogo{
	margin: 20vh 0 5vh 0;
	height: 20vh;
}
.title{
	display: inline;
	font-family: Righteous;
	color: white;
	font-size: 15vh;
	text-shadow: -0.03em 0 black, 0 0.03em black, 0.03em 0 black, 0 -0.03em black;
}
.arrow{
	height:10vh;
	margin-bottom: 5vh;
}
.description{
	margin-bottom: 10vh;
	width: 20vw;
	background-color: rgba(255,255,255,0.4);
	font-family: Righteous;
	padding: 2vh 0vh 2vh 0vh;
	border-radius: 1em;
	color: black;
	cursor: pointer;
}
.description:hover{
	opacity:0.7;
}
.pageTitle{
	margin-top:5vh;
	font-family:Righteous;
	margin-bottom: -20vh;
}
.marvinFoot{
	height: 5.5vh;
	opacity: 0.4;
}
.footNote{
	opacity: 0.3;
	position:fixed;
	bottom:-2.5vh;
	left:4vh;
	color:white;
	font-family:Righteous;
	z-index:10100;
	font-weight:100;
	font-size:50%;
}
#sk-holder{
	margin-top: 2vh;
	position: absolute !important;
	right: 15vw !important;
	left: 15vw !important;

}
#sk-container{
	position: absolute !important;
	height: 70vh !important;
	right: 10vw !important;
	left: 10vw !important;
	margin-bottom:5vh !important;
	font-family: Righteous;
	box-shadow: 0 0 5vw rgba(0,0,0,0.5) !important;
}
#sk-wrapper{
	width: 100% !important;
	height: 100vh;
}
#sk-header{
	width: 95% !important;
}
.sk-intro{
	font-family: Righteous !important;
	color: black !important;
	font-size: 300%;
}
.input {
	width: 100% !important;
}
.sk-row{
	opacity: 1 !important;
}
.span{
	font-family: Righteous;
}
#sk-conversation {
	width: 100% !important;
}